body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }
  
  .lamp {
    width: 150px;
    height: 200px;
    background-color: #ccc;
    position: relative;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .bulb {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    left: 25px;
    top: 20px;
    transition: background-color 0.3s;
  }
  
  .light-on {
    background-color: #fffc99;
  }
  